{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-blade"],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade"
      }
    }
  ]
}
